<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
  <link href="./../../styles.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
  <title>Home</title>

  <link rel="stylesheet" href="./main.css">
  <!-- <link rel="stylesheet" href="./../../news/main.css"> -->
</head>
<body>
  
  <div class="nav" id="navbar">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <img src="./../../images/logo.svg" alt="" srcset="" style="height: 10vh;">
        <div style="display: flex;flex-direction: column;height: 10vh;flex-wrap: nowrap;padding: 0 10px;justify-content: flex-end">
          Department of Chemical Sciences
          <br>
          IISER Kolkata
        </div>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="./../../">Home</a>
      <a href="./../../news/">News</a>
      <a href="./../../people">People</a>
      <a href="./../../research">Research</a>
      <a href="./../../publication">Publications</a>
      <a href="./../../gallery">Gallery</a>
      <a href="./../../contact/">Contact</a>
    </div>
  </div>

    <div style="height: 16vh;"></div>

    <!-- <div style="text-align:center">
      <h1 style="padding-bottom: 2vh;font-size: 3rem;">Latest</h1>
    </div> -->

    <div class="" id="profile" style="margin: 0 10vw 0 10vw;">
      
    </div>

    <div style="height: 16vh;"></div>

    <div class="footer_container">
    <div class="footer-div" style="width:41%;">
      <a href="https://chem.iiserkol.ac.in/" style="color: black;align-items: center;display: flex;flex-direction: column;">
        <img src="./../../images/memface_logo.svg" alt="" style="background-color: white;padding:0;width: 500px;">
        <img src="https://chem.iiserkol.ac.in/images/logo.png" alt="" style="background-color: white;padding:10px;width: 400px;">
      </a>
    </div>
    <div style="width: 8vw;"></div>
    <div class="footer-div" style="width:41%;">
      <h2>Contact us</h2>
      <div style="display: flex; flex-direction: row; ">
        <img src="./../../images/footer icons/mail.svg" alt="">
        &nbsp;&nbsp;&nbsp;
        <div id="footerMail"></div>
      </div>
      <br>
      <div style="display: flex; flex-direction: row; ">
        <img src="./../../images/footer icons/telephone.svg" alt="">
        &nbsp;&nbsp;&nbsp;
        <div id="footerPhone"></div>
      </div>
      <br>
      <div style="display: flex; flex-direction: row; ">
        <img src="./../../images/footer icons/location.svg" alt="">
        &nbsp;&nbsp;&nbsp;
        <div id="footerLocation"></div>
      </div>
    </div>
  </div>
<div class="footer_container" style="justify-content: flex-end;padding: 16px 2vw;color: #5c5c5c;">
    Made with 🤎 by 
    &nbsp;<a href="https://github.com/amar567/">Amardeepsingh Kushwah </a>&nbsp;
    & Soumajit Gayen
    <!-- let the color be less contrasting so the eyes can focus on more relevent info -->
  </div>
<script>
        var url_string = window.location.href
        var url = new URL(url_string);

        let type = url.searchParams.get("type")||'PI'
        let index = url.searchParams.get("index")||0;

        let json = $.getJSON("./../../content.json", function(data) {

          // footer
            let contact = data.contact
            for (let i = 0; i < contact.emails.length; i++) {
              document.getElementById("footerMail").innerHTML += contact.emails[i]+`,<br>`;
            }
            for (let i = 0; i < contact.phoneNumbers.length; i++) {
              document.getElementById("footerPhone").innerHTML += contact.phoneNumbers[i] +`,<br>`;       
            }
            for (let i = 0; i < contact.address.length; i++) {
              document.getElementById("footerLocation").innerHTML += contact.address[i]+`,<br>`;       
            }

          let people = data.people;

          if (type !== 'PI') {
            // 
            if (type === 'doctoralStudents') {

              let publications = []
              for (let i = 0; i < people[type][index].publications.length; i++) {
                publications.push(`<a href="${people[type][index].publications[i].link}"><li>${people[type][index].publications[i].title}, <i><b>${people[type][index].publications[i].journal}</b></i></li></a><br/>`); 
              }
              console.log(publications);

              document.getElementById('profile').innerHTML = `
                <div class="profileContainer" >
                  <div style="display:flex;justify-content: center;width:30vw">
                    <img src="./../${people[type][index].image}" alt="" class="profilePgPic" style="padding: 16px;box-shadow: 0px 0px 4px #888888;margin-top:4vh;">
                  </div>
                  <div style="width: 50vw;">
                    <h1>${people[type][index].name.toUpperCase()}</h1>
                    <div>
                      <h2>EDUCATION</h2>
                      <b>B.Sc.</b>: ${people[type][index].bsc}
                      <br>
                      <b>M.Sc.</b>: ${people[type][index].msc}
                    </div>
                    <div>
                      <h2>RESEARCH AREA</h2>
                      ${people[type][index].researchArea}
                      </div>
                      `
                    //   <div>
                    //     <h2>PUBLICATIONS</h2>
                    //     <ul>${publications.join("")}</ul>  
                    // </div>
                    +`
                  </div>
                </div>
                `;
            }
            if (type === 'undergrad') {
              document.getElementById('profile').innerHTML = `
                <div class="profileContainer">
                  <div style="display:flex;justify-content: center;width:30vw">
                    <img src="./../${people[type][index].image}" alt="" class="profilePgPic" style="padding: 16px;box-shadow: 0px 0px 4px #888888;">
                  </div>
                  <div style="width: 50vw;">
                    <h1>${people[type][index].name.toUpperCase()}</h1>
                    <div>
                      <h2>Research Area</h2>
                      ${people[type][index].researchArea}
                    </div>
                  </div>
                </div>
                `
            }
            if (type === 'alumni') {
              document.getElementById('profile').innerHTML = `
                <div class="profileContainer">
                  <div style="display:flex;justify-content: center;width:30vw">
                    <img src="./../${people[type][index].image}" alt="" class="profilePgPic" style="padding: 16px;box-shadow: 0px 0px 4px #888888;">
                  </div>
                  <div style="width: 50vw;">
                    <h1>${people[type][index].name.toUpperCase()}</h1>
                    <div>
                      <h2> PRESENT AFFILIATION </h2>
                      ${people[type][index].currentPosition}
                    </div>
                    <div>
                      <h2>Research Area</h2>
                      ${people[type][index].researchArea}
                    </div>
                  </div>
                </div>
                `
            }
          } 
          else {

            let Education = []
            for (let i = 0; i < people[type].education.length; i++) {
              Education.unshift(`<p>${people[type].education[i]}</p>`); 
            }

            let Positions = []
            for (let i = 0; i < people[type].positions.length; i++) {
              Positions.unshift(`<p>${people[type].positions[i]}</p>`); 
            }

            let Awards = []
            for (let i = 0; i < people[type]['awards&disnt'].length; i++) {
              Awards.unshift(`<p>${people[type]['awards&disnt'][i]}</p>`); 
            }

            document.getElementById('profile').innerHTML = `
            <div class="profileContainer">
              <div style="display:flex;justify-content: center;width:30vw">
                <img src="./../${people[type].image}" alt="" class="profilePgPic" style="padding: 16px;box-shadow: 0px 0px 4px #888888;">
              </div>
              <div style="width: 50vw;">
                <h1>${people[type].name.toUpperCase()}</h1>
                <div style="word-spacing: 0.3em;">
                  <h2>BIOGRAPHY</h2>
                  ${people[type].bio}
                </div>
                <div>
                  <h2>EDUCATION</h2>
                  ${Education.join('')}
                </div>
                <div>
                  <h2>POSITIONS</h2>
                  ${Positions.join('')}
                </div>
                <div>
                  <h2>AWARDS & DISTINCTIONS</h2>
                  ${Awards.join('')}
                </div>
              </div>
            </div>
            `
          }

        })
        

      var prevScrollpos = window.pageYOffset;
      window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
          document.getElementById("navbar").style.top = "0";
        } else {
          document.getElementById("navbar").style.top = "-13vh";
        }
        prevScrollpos = currentScrollPos;
      }
    </script>
  </body>
  </html>