<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
  <link href="./../../styles.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
  <title>Home</title>

  <link rel="stylesheet" href="./main.css">
  <link rel="stylesheet" href="../main.css">
</head>
<body>
  
  <div class="nav" id="navbar">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <img src="./../../images/logo.svg" alt="" srcset="" style="height: 10vh;">
        <div style="display: flex;flex-direction: column;height: 10vh;flex-wrap: nowrap;padding: 0 10px;justify-content: flex-end">
          Department of Chemical Sciences
          <br>
          IISER Kolkata
        </div>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/news/">News</a>
      <a href="/people">People</a>
      <a href="/research">Research</a>
      <a href="/publication">Publications</a>
      <!-- <a href="/gallery">Gallery</a> -->
      <a href="/contact/">Contact</a>
    </div>
  </div>

    <div style="height: 16vh;"></div>

    <!-- <div style="text-align:center">
      <h1 style="padding-bottom: 2vh;font-size: 3rem;">Latest</h1>
    </div> -->

    <div class="" id="profile" style="margin: 0 10vw 0 10vw;">
      
    </div>

    <div style="height: 16vh;"></div>

    <script>
        var url_string = window.location.href
        var url = new URL(url_string);

        let type = url.searchParams.get("type")||'PI'
        let index = url.searchParams.get("index")||0;

        let json = $.getJSON("../../content.json", function(data) {
          let people = data.people;

          if (type !== 'PI') {
            // 
            if (type === 'doctoralStudents') {

              // let publications = []
              // for (let i = 0; i < people[type][index].publications.length; i++) {
              //   publications.push(`<li>${people[type].publications[i]}</li>`); 
              // }

              document.getElementById('profile').innerHTML = `
                <div class="profileContainer">
                  <div style="display:flex;justify-content: center;width:30vw">
                    <img src="../${people[type][index].image}" alt="" class="profilePgPic">
                  </div>
                  <div style="width: 50vw;">
                    <h1>${people[type][index].name.toUpperCase()}</h1>
                    <div>
                      <h2>EDUCATION</h2>
                      <b>B.Sc.</b>: ${people[type][index].bsc}
                      <br>
                      <b>M.Sc.</b>: ${people[type][index].msc}
                    </div>
                    <div>
                      <h2>RESEARCH AREA</h2>
                      ${people[type][index].researchArea}
                    </div>
                  </div>
                </div>
                `
            }
            if (type === 'undergrad') {
              document.getElementById('profile').innerHTML = `
                <div class="profileContainer">
                  <div style="display:flex;justify-content: center;width:30vw">
                    <img src="../${people[type][index].image}" alt="" class="profilePgPic">
                  </div>
                  <div style="width: 50vw;">
                    <h1>${people[type][index].name.toUpperCase()}</h1>
                    <div>
                      <h2>Research Area</h2>
                      ${people[type][index].researchArea}
                    </div>
                  </div>
                </div>
                `
            }
            if (type === 'alumni') {
              document.getElementById('profile').innerHTML = `
                <div class="profileContainer">
                  <div style="display:flex;justify-content: center;width:30vw">
                    <img src="../${people[type][index].image}" alt="" class="profilePgPic">
                  </div>
                  <div style="width: 50vw;">
                    
                    <div>
                      <h2>Current Position</h2>
                      ${people[type][index].currentPosition}
                    </div>
                    <div>
                      <h2>Research Area</h2>
                      ${people[type][index].researchArea}
                    </div>
                  </div>
                </div>
                `
            }
          } 
          else {

            let Education = []
            for (let i = 0; i < people[type].education.length; i++) {
              Education.unshift(`<p>${people[type].education[i]}</p>`); 
            }

            let Positions = []
            for (let i = 0; i < people[type].positions.length; i++) {
              Positions.unshift(`<p>${people[type].positions[i]}</p>`); 
            }

            let Awards = []
            for (let i = 0; i < people[type]['awards&disnt'].length; i++) {
              Awards.unshift(`<p>${people[type]['awards&disnt'][i]}</p>`); 
            }

            document.getElementById('profile').innerHTML = `
            <div class="profileContainer">
              <div style="display:flex;justify-content: center;width:30vw">
                <img src="../${people[type].image}" alt="" class="profilePgPic">
              </div>
              <div style="width: 50vw;">
                <h1>${people[type].name.toUpperCase()}</h1>
                <div style="word-spacing: 0.3em;">
                  <h2>BIOGRAPHY</h2>
                  ${people[type].bio}
                </div>
                <div>
                  <h2>EDUCATION</h2>
                  ${Education.join('')}
                </div>
                <div>
                  <h2>POSITIONS</h2>
                  ${Positions.join('')}
                </div>
                <div>
                  <h2>AWARDS & DISTINCTIONS</h2>
                  ${Awards.join('')}
                </div>
              </div>
            </div>
            `
          }

        })
        

      var prevScrollpos = window.pageYOffset;
      window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
          document.getElementById("navbar").style.top = "0";
        } else {
          document.getElementById("navbar").style.top = "-13vh";
        }
        prevScrollpos = currentScrollPos;
      }
    </script>
  </body>
  </html>